@import '../../const.scss';

.stickyButton {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   

    &:hover {
        cursor: pointer;
    }

    &__wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        &_demo {
            border: 2px solid red;
        }
    }

    &__text {
        transition: 0.1s;
        background-color: #120efd41;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        user-select: none;
    }
}

@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}